---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import Todo from "../components/Todo.astro";

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}

import { todos, projects } from "../db/schema";
import { drizzle } from "drizzle-orm/libsql";
import { eq, and } from "drizzle-orm";
import { createClient } from "@libsql/client";
import Layout from "../layouts/Layout.astro";

const client = createClient({
  url: import.meta.env.DATABASE_URL,
  authToken: import.meta.env.DATABASE_AUTH_TOKEN,
});
const db = drizzle(client);

const result = await db
  .select()
  .from(todos)
  .innerJoin(projects, eq(todos.projectId, projects.id))
  .where(and(eq(todos.doToday, true), eq(todos.completed, false)));
const currentTime = new Date().toLocaleString();
const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Layout title="Home" page="home">
  <h1 class="text-4xl font-bold pt-16 mb-2">
    Today is {new Date().toLocaleDateString(undefined, options)}
  </h1>
  <div>so what will you get done today?</div>
  <div class="flex flex-col gap-4 py-8 pt-10">
    {
      result.map((todo) => (
        <Todo
          todo={{
            description: todo.todos.description,
            project: todo.projects.name,
            projectColor: todo.projects.color,
          }}
        />
      ))
    }
  </div>
</Layout>
