---
import ProjectTag from "./ProjectTag.astro";
import ArrowButton from "./ArrowButton.astro";
interface Props {
  todo: {
    description: string;
    project: string;
    projectColor: string;
  };
}

const { todo } = Astro.props;
---

<div
  class="w-[1024px] py-5 px-6 border border-gray-100 rounded-xl flex items-end shadow-sm justify-between"
>
  <div class="flex flex-col items-start gap-2">
    <ProjectTag name={todo.project} color={todo.projectColor} />
    <div class="font-semibold text-xl">{todo.description}</div>
  </div>
  <div>
    <ArrowButton />
  </div>
</div>
