@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter Variable", sans-serif;
}

h1 {
    @apply font-bold text-3xl tracking-tighter mt-4 mb-6;
}

label {
    @apply font-medium;
}

input {
    @apply border border-gray-300 rounded-md mb-2 px-1;
}

button, [type="submit"] {
    @apply rounded-md shadow-sm bg-black text-white px-3 py-[1px] hover:bg-gray-900;
}

button[disabled] {
    @apply bg-gray-600 text-gray-300 hover:bg-gray-600;
}

a {
    @apply underline underline-offset-4;
}

/* FIX OF UGLY SELECT */
SELECT {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down'><path d='m6 9 6 6 6-6'/></svg>") no-repeat;
    background-position: calc(100% - 0.25rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
}