---
import "@fontsource-variable/inter";
import "./global.css";

interface Props {
  title: string;
  page?: string;
}

const { title, page } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"></script>
  </head>
  <body class="min-h-screen flex flex-col">
    <nav class="w-full h-12 bg-stone-100">
      <div
        class="max-w-4xl px-4 h-full mx-auto flex justify-between items-center"
      >
        <a href="/" class="font-bold tracking-tighter no-underline"
          >The Todo App</a
        >
        <div class="flex gap-4">
          <a
            href="/add"
            class={(page === "add" ? "font-bold " : "") +
              "no-underline tracking-tighter"}>Add</a
          >
          <a
            href="/projects"
            class={(page === "projects" ? "font-bold " : "") +
              "no-underline tracking-tighter"}>Projects</a
          >
          <a href="/api/auth/signout" class="no-underline tracking-tighter"
            >Sign out</a
          >
        </div>
      </div>
    </nav>
    <div class="max-w-4xl px-4 mx-auto grow w-full">
      <slot />
    </div>
  </body>
</html>
